.footer {
  padding: 20px 0;
  background-color: rgb(12, 10, 10);
  &__start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__img {
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(45deg) brightness(1.2);
  }
}